/*
@font-face{
	font-family: Della;
}
@import url('https://fonts.googleapis.com/css?family=Della+Respira');*/


/*
	The main text used is Della Respira, described by Hubstop as being perfect "in an ancient fairy 
	tale or on your latest ebook cover". This highly legiable font is an easy way to add a medevil flair,
	perfect for William Shakespeare.

	source: https://blog.hubspot.com/marketing/28-free-fonts-beautify-content
*/
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Niconne');

figure { float: right; }

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

header, .hero, footer {
	grid-column: 1 / 3;
}

.flowing-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}
.flowing-boxes li {
	flex: 1 1 200px;
	list-style-type: none;
}

body{
	background-color: #4286f4;
	/*font-family: 'Della Respira', serif;*/
}

h1{
	background-color: #ccffcc;
	font-family: 'Niconne', cursive;
}

p{
	font-family: 'Della Respira', serif;
}

