/*
@font-face{
	font-family: Della;
}
@import url('https://fonts.googleapis.com/css?family=Della+Respira');*/


/*
	The main text used is Della Respira, described by Hubstop as being perfect "in an ancient fairy 
	tale or on your latest ebook cover". This highly legiable font is an easy way to add a medevil flair,
	perfect for William Shakespeare.

	Title font-face used is Niconne, an elegant and old fashion font. I chose to use it as the header 
	because it looks like handwritten cursive (which is fitting for Shakespeare), but it is not as legiable
	as the font used for the main content- making it a better fit for the header. 

	source: https://blog.hubspot.com/marketing/28-free-fonts-beautify-content
*/
@import url('https://fonts.googleapis.com/css?family=Della+Respira|Niconne');

figure { 
	float: right;
	padding: 10px; 
}

.container {
	display: grid;
	grid-template-columns: 2fr 1fr;
}

header, .hero, footer {
	grid-column: 1 / 3;
	padding: 30px;
}

.flowing-boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
}
.flowing-boxes li {
	flex: 1 1 200px;
	list-style-type: none;
}

header{
	background-color: #604020;
	color: #ffffe6;
	text-align: center;
}

body{
	/* This background color resembles an old book, which is fitting for the content */
	background-color: #ffffe6;
	font-family: 'Della Respira', serif;
	/* This  color resembles old ink on a page and provides contrast with the background, making
	the text clear and readable */
	color: #604020;
}

h1{
	font-family: 'Niconne', cursive;
	color: #ffd11a;
}

h2, h3{
	font-family: 'Niconne', cursive;
	/* Slightly darker font for the titles to for emphasis*/
	color: #392613;
	text-align: center;
}
p{
	padding: 25px;
}

article {
	/*background-color: #993399;*/
	border: 10px;
	border-style: solid;
	border-color: #993399
    padding: 30px;
    margin: 25px;
}



